* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* odds buttons */

.odds-btn {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.btn-style {
    margin: 5px;
    width: 100px;
    height: 28px;
    padding: 3px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;

}

/* card */


.info-card {
    grid-row:3;
    grid-column:2;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.card {
    height: 175px;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

.card-border {
    border-bottom: 2px solid black;
    /* border-top: 2px solid black; */
}

.card-content {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    text-align: center;
    margin-top: 10px;
}

.bookmaker-title {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    text-decoration: underline;
}

.money-line-title {
    grid-column: 2;
    grid-row: 2;
    text-decoration: underline;
}

.home-team-title {
    grid-column: 1;
    grid-row: 4;
}

.away-team-title {
    grid-column: 1;
    grid-row: 5;
}

.home-team-odds {
    grid-column: 2;
    grid-row: 4
}

.away-team-odds {
    grid-column: 2;
    grid-row: 5;
}